<div class="login-page-wrap">
  <div class="video-wrap">
    <vg-player>
      <video id="background-video" preload="auto" autoplay muted loop>
        <source src="../assets/videos/space_bgvid.mp4" type="video/mp4" />
      </video>
    </vg-player>

    <form class="loginform-wrap" [formGroup]="loginform" >

        <h3>Login Here</h3>
        <div class="email-wrap">
          <label for="email"
            >Username:
            <input type="text" id="email" formControlName="email"/>
            <small *ngIf="loginform.get('email')?.errors && loginform.get('email')?.touched">Kötelező mező!</small>
          </label>
        </div>
        <div class="password-wrap">
          <label for="password"
            >Password:
            <input type="password" id="password" formControlName="password"/>
            <small *ngIf="loginform.get('password')?.errors && loginform.get('password')?.touched">Kötelező mező!</small>
          </label>
        </div>
        <button id="sign-in-button" (click)="loginHandler()">Sign In</button>
     
    </form>
  </div>
</div>

